.select-all-container{
    display: flex;
    justify-content: left;
    margin-top: 10px;
}

.remove-tasks-button{
    background: none;
    border-radius: 5px;
    border: none;
    border-left: 0.75px solid hsla(9, 100%, 50%, 0.95);
    height: 100%;
    padding: 10px 12px;
}
.remove-tasks-button:hover{
    color: hsla(9, 100%, 50%, 0.95);
    cursor: pointer;
}

.select-all-checkbox-div{
    flex: 1;
    display: flex;
    place-items: left;
    gap: 10px;
    margin-left: 10px;
}