.landing-page-container {
    background: hsl(0, 0%, 95%);
    height: 100lvh;
    padding: 1em;
}

/**
* Header Styles
*/
.landing-header {
    text-align: center;
    font-size: 1.25rem;

    background:
        linear-gradient(
            hsl(203, 46%, 36%),
            hsl(203, 50%, 59%),
            linen
        );
}
.landing-header h1{
    margin-bottom: 10px;
}

/**
* Main Content Styles
*/
.landing-content {}

/**
* Footer Styles
*/
.landing-footer {}

.copywright-span {}