/**
* todo-list/index.htm styles
*/


/**
* Header Styles
 */
.todo-header {
    text-align: center;
    font-size: 1.75rem;
}


/**
* Main Styles
 */
.todo-content {
    /* border: 1px solid; */
}

/********** Section One */
.add-task-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.task-input,
.updates-input {
    border-radius: 5px;
    margin: 10px;
    /* margin-bottom: 10px; */
    font-size: 1.5rem;
    padding: 0.75em;
    border: none;
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.10),
        0 12px 32px rgba(0, 0, 0, 0.12);
}

.task-input:focus,
.updates-input:focus {
    outline: 0.5px solid #ccc;
}

.add-task-button,
.updates-button,
.task-edit-button {
    border-radius: 1em;
    font-size: 1.25rem;
    width: 75%;
    padding: 0.5em;
    margin: 0px auto;
    margin-bottom: 10px;
    border: 1px solid hsla(211, 90%, 76%, 0.3);
    color: hsl(160, 77%, 70%);
    background: none;
    box-shadow:
        0 4px 12px hsla(221, 90%, 76%, 0.43),
        0 12px 32px hsla(160, 97%, 70%, 0.12);
}

.add-task-button:hover,
.updates-button:hover {
    background: hsl(160, 97%, 70%);
    color: hsl(0, 1%, 45%);
    cursor: pointer;
}

/********** Section Two */
.task-display-board {
    border: 1px solid #000;
    font-size: 1.5rem;
}

.task-display-board input[type="checkbox"] {
    width: 25px;
    height: 25px;
    /* accent-color: hsl(160, 97%, 70%); */
    accent-color: hsla(211, 90%, 76%, 0.3);
}

/* Display Tasks */

.select-all-container {
    background: #ccc;
}

.select-all-checkbox {}

.task-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.task-li-container {
    border: 1px solid hsla(211, 90%, 76%, 0.3);
    border-radius: 5px;
    box-shadow:
        0 4px 12px hsla(221, 90%, 76%, 0.43),
        0 12px 32px hsla(160, 97%, 70%, 0.12);
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    gap: 5px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.top-section-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-section-card span{
    text-align: center;
    background: none;
    /* pointer-events: none; */
    border: none;
    outline: none;
}

.task-edit-button {
    /* flex: 1; */
    position: relative;
    top: 5px;
    right: 75px;
    border-radius: 5px;
    padding: 0;
    width: 25px;
    height: 25px;

    color: hsl(0, 1%, 45%);
    box-shadow: none;
}

.task-edit-button:hover{
    cursor:default;
    color: hsl(211, 90%, 76%);
}
 .delete-task-button:hover{
    cursor: default;
    color: hsl(0, 100%, 50%);
}

.updates-input,
.updates-button {
    padding: 0.5em;
}

.updates-button {}

.delete-task-button {
    position: relative;
    top: 5px;
    left: 75px;
    background: hsl(160, 97%, 70%);
    color: hsl(0, 1%, 45%);
    border-radius: 5px;
    font-size: 1.25rem;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0px auto;
    margin-bottom: 10px;
    /* font-size: 1rem; */
    /* border: 1px solid hsla(211, 90%, 76%, 0.3); */
    /* box-shadow:
        0 4px 12px hsla(221, 90%, 76%, 0.43),
        0 12px 32px hsla(160, 97%, 70%, 0.12); */
}


/**
* Footer Styles
 */
todo-footer {}