/**
* todo-list/index.htm styles
*/


/**
* Header Styles
 */
.todo-header {
    text-align: center;
    font-size: 1.75rem;
}

/**
* Main Styles
 */
.todo-content {
    /* border: 1px solid; */
    
}

/********** Section One: Add Task Container */
.add-task-container {
    display: flex;
    flex-direction: column;

    margin: 1rem;
}

.task-input,
.updates-input {
    padding: 0.75em;
    margin: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.10),
        0 12px 32px rgba(0, 0, 0, 0.12);
}

.task-input:focus,
.updates-input:focus {
    outline: 0.5px solid #ccc;
}

.add-task-button,
.updates-button,
.task-edit-button {
    font-size: 1.25rem;
    color: hsl(160, 77%, 70%);
    width: 75%;
    padding: 0.5em;
    margin: 0px auto;
    margin-bottom: 10px;
    background: none;
    border: 1px solid hsla(211, 90%, 76%, 0.3);
    border-radius: 1em;
    box-shadow:
        0 4px 12px hsla(221, 90%, 76%, 0.43),
        0 12px 32px hsla(160, 97%, 70%, 0.12);
}

.add-task-button:hover,
.updates-button:hover {
    color: hsl(0, 1%, 45%);
    background: hsl(160, 97%, 70%);
    cursor: pointer;
}

/********** Section Two: Select All Container */
.select-all-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background: #ccc;
}

.select-all-checkbox {
    width: 25px;
    height: 25px;
    accent-color: hsla(211, 90%, 76%, 0.3);
}

.select-all-span{
    flex:1;
    font-size: 1.2rem;
    margin-left: 5px;
}

.selected-tasks-delete-button {
    font-size: 1.4rem;
    color: hsl(211, 90%, 76%);
    /* background: none; */
    border: 0.5px solid hsla(211, 90%, 76%, 0.3);
    border-radius: 5px;
    box-shadow:
        0 4px 12px hsla(221, 90%, 76%, 0.43),
        0 12px 32px hsla(160, 97%, 70%, 0.12);
}

.selected-tasks-delete-button:hover{
    color: hsl(160, 97%, 70%);
    background: hsl(0, 100%, 50%);
    cursor: default;
}

/********** Section Two: Task Display Board */
.task-display-board {
    font-size: 1.5rem;
    border: 1px solid #000;
    overflow: auto;
    margin-bottom: 40px;
}

.task-display-board input[type="checkbox"] {
    width: 25px;
    height: 25px;
    accent-color: hsla(211, 90%, 76%, 0.3);
}

.tasks-display-ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task-li-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin: 10px;
    border: 1px solid hsla(211, 90%, 76%, 0.3);
    border-radius: 5px;
    box-shadow:
        0 4px 12px hsla(221, 90%, 76%, 0.43),
        0 12px 32px hsla(160, 97%, 70%, 0.12);
    overflow-x: hidden;
    word-wrap: break-word;
}

.task-li-container span{
    font-size: 2rem;
    padding: 0.5em;

    display: flex;
    align-items: center;
    outline: none;
    background: none;
}

.top-section-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-all-container span {
    text-align: center;
    background: none;
    border: none;
    outline: none;
}

.task-edit-button {
    position: relative;
    top: 5px;
    right: 75px;
    height: 25px;
    width: 25px;
    padding: 0;
    color: hsl(0, 1%, 45%);
    border-radius: 5px;
    box-shadow: none;
    background: none;
    border: none;
    outline: none;

}

.task-edit-button:hover {
    color: hsl(211, 90%, 76%);
    cursor: default;
}


.updates-input,
.updates-button {
    padding: 0.5em;
}

.updates-button {}

.delete-task-button:hover {
    color: hsl(0, 100%, 50%);
    cursor: default;
}

.delete-task-button {
    position: relative;
    top: 5px;
    left: 75px;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0px auto;
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: hsl(0, 1%, 45%);
    background: hsl(160, 97%, 70%);
    border-radius: 5px;
}

/**
* Footer Styles
 */
.todo-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #ccc;
    height: 2.25rem;
    width: 100%;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    padding: 0px 10px;

}
.back-to-top{
    color: hsl(211, 90%, 76%);
    cursor: pointer;
    flex: 1;
    text-align: right;
    padding-right: 40px;
}